* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "zenon";
    src: "https://use.typekit.net/riu5zoj.css";
}

@font-face {
    font-family: "acumin-pro";
    src: "https://use.typekit.net/xmz2tba.css";
}

body {
    font-family: "acumin-pro"

}

h2 {
    font-family: "zenon";
}

/*--------------------------------SMARTPHONES ET TABLETTES--------------------------------*/
@media screen and (min-width : 320px) and (max-width : 1024px) {

    /* -----------------------------------------------------------------------------------HEADER */
    header {
        width: 90%;
        height: 190px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 2px solid transparent; */
        margin: auto;
        align-content: space-between;
    }

    #logos {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }

    #logoSimplonBlog {
        width: 30%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #da0236;
        font-size: 10px;
    }

    #burger {
        width: 70px;
        height: 70px;
        background-color: #eb9e94;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    #spanHaut {
        background-color: #ffffff;
        display: block;
        height: 3px;
        width: 35px;
        margin-top: 20px;
        margin-left: 18px;
    }

    #spanMilieu {
        background-color: #ffffff;
        display: block;
        height: 3px;
        width: 35px;
        margin-top: 10px;
        margin-left: 18px;
    }

    #spanBas {
        background-color: #ffffff;
        display: block;
        height: 3px;
        width: 35px;
        margin-top: 10px;
        margin-left: 18px;
    }

    #lienSimplonProdOrdi {
        display: none;
    }

    #logosRsOrdi {
        display: none;
    }

    #logoSimplonBlog {
        width: 70%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #da0236;
    }

    #imgLogoSimplonProd {
        width: 55%;
        height: auto;
    }

    #logoSimplonBlog p {
        margin-left: 20px;
        font-size: 2em;
    }

    #logosRsMobile {
        width: 2em;
        display: flex;
        justify-content: space-between;
    }

    #logosRsMobile a {
        color: #da0236;
        text-decoration: none;
    }

    #menu {
        display: none;
    }

    #menuMobile {
        position: absolute;
        display: none;
        flex-direction: column;
        text-align: center;
        line-height: 25px;
        width: 100%;
        background-color: #eb9e94;
        margin-top: -40px;
    }

    #menuMobile a {
        text-decoration: none;
        color: white;
        width: 100%
    }

    nav a:hover,
    nav a:focus,
    nav a:active {
        background-color: #da0236;
    }

    /* ----------------------------------------------------------------------------------------------FOOTER */
    footer {
        width: 100%;
        height: 50px;
        background-color: #eb9e94;
        color: white;
        text-align: center;
        margin-top: 95px;
    }

    footer p {
        line-height: 50px;
    }

    /* --------------------------------------------------------------------------------HOMEPAGE */
    /* ---------------------------------------------------------------------------MAIN */
    main {
        margin-top: 90px;
    }

    /* --------------------------------------------------------SECTION UNE */
    #sectionUne {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }

    #erreur{
        width: 90%;
        margin : auto;
    }

    /* ---------------------------BLOC AVEC UN SEUL ARTICLE */
    .articleSolo {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .divImgArticleSolo {
        width: 100%;
    }

    .imgArticleSolo {
        width: 100%;
        height: auto;
    }

    .divInfosArticleSolo {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: auto;
        /* border: 1px solid black; */
    }

    .divInfosArticleSolo a {
        text-decoration: none;
    }

    .divCercleArticleSolo {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: #da0236;
        color: white;
        border-radius: 50%;
        font-size: 13px;
        margin-top: -54px;
        margin-left: 1%;
    }

    .infosArticleSolo {
        margin-left: 1%;
        width: 71%;
    }

    .divTitreArticleSolo {
        width: 81%;
        margin-top: 10px;
        margin-left: 6%;
    }

    /* ---------------------------BLOC AVEC TROIS ARTICLES */
    .articleTrio {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: auto;
    }

    .divArticleTrio {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .divImgArticleTrio {
        width: 45%;
    }

    .imgArticleTrio {
        width: 100%;
        height: auto;
    }

    .infosArticleTrio {
        width: 51%;
        /* border: 1px solid black; */
    }

    .infosArticleTrio p {
        font-size: 10px;
    }

    .infosArticleTrio h2 {
        font-size: 14px;
    }

    .infosArticleTrio a {
        font-size: 10px;
    }

    /* ---------------------------BLOC AVEC DEUX ARTICLES */
    .articleDuo {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 35px;
    }

    .divArticleDuoOrdi{
        width: 100%;
        margin-bottom: 15px;
    }

    .divImgArticleDuo {
        width: 100%;
    }

    .imgArticleDuo {
        width: 100%;
        height: auto;
    }

    .divInfosArticleDuo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: auto;
        /* border: 1px solid black; */
    }

    .divInfosArticleDuo a {
        text-decoration: none;
    }

    .divCercleArticleDuo {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: #da0236;
        color: white;
        border-radius: 50%;
        font-size: 13px;
        margin-top: -54px;
        margin-left: 2%;
    }

    .infosArticleDuo {
        margin-left: 1%;
        width: 71%;
    }

    .divTitreArticleDuo {
        width: 91%;
        margin-top: 10px;
        margin-left: 3%;
    }

    /* ----------------------------------------------------------------SECTION DEUX
    CONTIENT UNIQUEMENT LE BOUTON POUR AFFICHER PLUS D'ARTICLES */
    #sectionDeux {
        text-align: center;
        margin-top: 90px;
    }

    #btnPlusArticles {
        height: 40px;
        background-color: #da0236;
        color: #fff;
        /* border: 2px solid transparent; */
        border-radius: .4rem;
        padding: .4rem 1.2rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }

    /* -----------------------------------------------------------PAGE ARTICLE */

    #sectionUneArticle {
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: -110px;
    }

    .imgThumbnail{
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center
    }

    img {
        max-width: 100%;
    }

    #infosTitreArticle {
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

    .contenuArticle {
        text-align: left;
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

    #sectionDeuxArticle {
        width: 90%;
        margin: auto;
        margin-top: 55px;
    }

    .centrerElement {
        text-align: center;
    }

    .conteneurArticleSimilaire {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 90px;
    }

    .divArticleSimilaire {
        width: 45%;
    }

    .imgArticleSimilaire {
        width: 100%;
        height: auto;
    }

    /* -------------------------------------------------------------PAGE CATEGORIE */
    #mainCategorie {
        width: 100%;
        margin: auto;
    }

    #titreCategorie {
        text-align: center;
    }

    #affichageListeArticle {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 35px;
        margin-top: 15px;
    }

    /* ------------------------------------------------------POSITIONNEMENT DES IMAGES DANS L'ARTICLE */

    img[src$='#center'] {
        display: block;
        margin: 0.7rem auto;
        /* you can replace the vertical '0.7rem' by
                                whatever floats your boat, but keep the
                                horizontal 'auto' for this to work */
        /* whatever else styles you fancy here */
        width: 100%;
        height: auto;
    }

    img[src$='#floatleft'] {
        float: left;
        margin: 0.7rem;
        /* this margin is totally up to you */
        /* whatever else styles you fancy here */
    }

    img[src$='#floatright'] {
        float: right;
        margin: 0.7rem;
        /* this margin is totally up to you */
        /* whatever else styles you fancy here */
    }

    /* -----------------------------------------------------------------------PAGINATION */


    /* The main wrapper for our pagination links */
    .pagination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 710px;
        margin: 4rem auto;
        font-family: "Open Sans", sans-serif;
        font-size: 1.3rem;
        color: #9EABB3;
        text-align: center;
    }

    .pagination a {
        color: white;
        transition: all 0.2s ease;
    }

    /* Push the previous/next links out to the left/right */
    .older-posts,
    .newer-posts {
        width : 90%;
        height: 40px;
        background-color: #da0236;
        color: #fff;
        border: 2px solid transparent;
        border-radius: .4rem;
        padding: .4rem 1.2rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }

    .older-posts {
        right: 0;
    }

    .page-number {
        display: inline-block;
        padding: 2px 0;
        min-width: 100px;
        margin-top : 15px;
        margin-bottom : 15px;
    }

    .newer-posts {
        left: 0;
    }

    .older-posts:active,
    .newer-posts:active {
        border: 2px dashed white;
    }
}