* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "zenon";
    src: "https://use.typekit.net/riu5zoj.css";
}

@font-face {
    font-family: "acumin-pro";
    src: "https://use.typekit.net/xmz2tba.css";
}

body {
    font-family: "acumin-pro"

}

h2 {
    font-family: "zenon";
}

/* LOADER */
#loader {
    color: green;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
    text-align: center;
}

#loader span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

.pink {
    color: #eb9e94;
}

/*--------------------------------ORDINATEUR--------------------------------*/
@media screen and (min-width : 1025px) {

    /* -------------------------------------------------------HEADER */

    header {
        width: 90%;
        height: 190px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 2px solid transparent;
        margin: auto;
        align-content: space-between;
    }

    #logos {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }

    #logoSimplonBlog {
        width: 30%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #da0236;
    }

    #imgLogoSimplonProd {
        width: 55%;
        height: auto;
    }

    #logoSimplonBlog p {
        margin-left: 20px;
        font-size: 2em;
    }

    #logosRsOrdi {
        width: 110px;
        display: flex;
        justify-content: space-between;
    }

    #logosRsOrdi a {
        color: #da0236;
        text-decoration: none;
    }

    #burger {
        display: none;
    }

    #menuMobile {
        display: none;
        visibility: hidden;
    }

    #logosRsMobile {
        display: none;
    }

    .btn-cta {
        height: 40px;
        background-color: #da0236;
        color: #fff;
        border: 2px solid transparent;
        border-radius: .4rem;
        padding: .4rem 1.2rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }

    .btn-cta:active {
        border: 2px dashed white;
    }

    .navigation {
        width: 100%;
        height: 50px;
        background-color: #eb9e94;
        border-radius: .4rem;
        display: flex;
        justify-content: space-around;
    }

    .navigation a {
        color: white;
        line-height: 50px;
        text-decoration: none;
        text-align: center;
        width: 180px;

    }

    .navigation a:hover {
        background-color: #da0236;
    }

    /* ----------------------------------------------------------------------------------------------FOOTER */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #eb9e94;
        color: white;
        margin-top: 95px;
    }

    /* --------------------------------------------------------------------------------HOMEPAGE */
    /* ---------------------------------------------------------------------------MAIN */
    main {
        margin-top: 70px;
    }

    /* --------------------------------------------------------SECTION UNE */
    #sectionUne {
        width: 90%;
        margin: auto;
    }

    #erreur {
        width: 90%;
        margin: auto;
    }

    /* ---------------------------BLOC AVEC UN SEUL ARTICLE */
    .articleSolo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
    }

    .divImgArticleSolo {
        width: 71%;
    }

    .imgArticleSolo {
        width: 100%;
        height: auto;
    }

    .divInfosArticleSolo {
        width: 28%;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* border: 1px solid black; */
    }

    .divInfosArticleSolo a {
        text-decoration: none;
    }

    .divCercleArticleSolo {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: #da0236;
        color: white;
        border-radius: 50%;
        font-size: 13px;
        margin-top: -25%;
        margin-left: -14%;
    }

    .infosArticleSolo {
        margin-left: 5%;
    }

    .divTitreArticleSolo {
        width: 81%;
        margin-top: 10px;
        margin-left: 6%;
    }

    /* ---------------------------BLOC AVEC TROIS ARTICLES */
    .articleTrio {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .divArticleTrio {
        width: 30%;
    }

    .imgArticleTrio {
        width: 100%;
        height: auto;
    }

    /* ---------------------------BLOC AVEC DEUX ARTICLES */
    .articleDuo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 35px;
    }

    .divArticleDuoOrdi {
        width: 47%;
        margin-bottom: 15px;
    }

    .divImgArticleDuo {
        width: 100%;
    }

    .imgArticleDuo {
        width: 100%;
        height: auto;
    }

    .divInfosArticleDuo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: auto;
        /* border: 1px solid black; */
    }

    .divInfosArticleDuo a {
        text-decoration: none;
    }

    .divCercleArticleDuo {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: #da0236;
        color: white;
        border-radius: 50%;
        font-size: 13px;
        margin-top: -55px;
        margin-left: -40%;
    }

    .infosArticleDuo {
        margin-left: -4%;
        width: 17%;
    }

    .divTitreArticleDuo {
        width: 59%;
        /* margin-top: 10px; */
        margin-left: 3%;
    }

    /* ----------------------------------------------------------------SECTION DEUX
    CONTIENT UNIQUEMENT LE BOUTON POUR AFFICHER PLUS D'ARTICLES */
    #sectionDeux {
        text-align: center;
        margin-top: 90px;
    }

    #btnPlusArticles {
        height: 40px;
        background-color: #da0236;
        color: #fff;
        border: 2px solid transparent;
        border-radius: .4rem;
        padding: .4rem 1.2rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }

    #btnPlusArticles:active {
        border: 2px dashed white;
    }

    /* -----------------------------------------------------------PAGE ARTICLE */

    #sectionUneArticle {
        width: 70%;
        height: auto;
        margin: auto;

    }

    img {
        max-width: 100%;
    }

    .imgThumbnail {
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center
    }

    #infosTitreArticle {
        width: 55%;
        margin: auto;
        margin-top: 55px;
    }

    .contenuArticle {
        text-align: left;
        width: 55%;
        margin: auto;
        margin-top: 75px;
    }

    #imgArticleDeux {
        width: 100%;
        height: auto;
    }

    #sectionDeuxArticle {
        width: 70%;
        margin: auto;
        margin-top: 55px;
    }

    .centrerElement {
        text-align: center;
    }

    .conteneurArticleSimilaire {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 90px;
    }

    .divArticleSimilaire {
        width: 45%;
    }

    .imgArticleSimilaire {
        width: 100%;
        height: auto;
    }

    /* -------------------------------------------------------------PAGE CATEGORIE */
    #mainCategorie {
        width: 90%;
        margin: auto;
    }

    #titreCategorie {
        text-align: center;
        margin-top: 70px;
    }


    #affichageListeArticle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 100px;
        margin-top: 50px;
    }

    /* ------------------------------------------------------POSITIONNEMENT DES IMAGES DANS L'ARTICLE */

    img[src$='#center'] {
        display: block;
        margin: 0.7rem auto;
        /* you can replace the vertical '0.7rem' by
                                whatever floats your boat, but keep the
                                horizontal 'auto' for this to work */
        /* whatever else styles you fancy here */
        width: 100%;
        height: auto;
    }

    img[src$='#floatleft'] {
        float: left;
        margin: 0.7rem;
        /* this margin is totally up to you */
        /* whatever else styles you fancy here */
    }

    img[src$='#floatright'] {
        float: right;
        margin: 0.7rem;
        /* this margin is totally up to you */
        /* whatever else styles you fancy here */
    }

    /* -----------------------------------------------------------------------PAGINATION */

    /* The main wrapper for our pagination links */
    .pagination {
        position: relative;
        width: 80%;
        max-width: 710px;
        margin: 4rem auto;
        font-family: "Open Sans", sans-serif;
        font-size: 1.3rem;
        color: #9EABB3;
        text-align: center;
    }

    .pagination a {
        color: white;
        transition: all 0.2s ease;
    }

    /* Push the previous/next links out to the left/right */
    .older-posts,
    .newer-posts {
        height: 40px;
        background-color: #da0236;
        color: #fff;
        border: 2px solid transparent;
        border-radius: .4rem;
        padding: .4rem 1.2rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }

    .older-posts {
        right: 0;
    }

    .page-number {
        display: inline-block;
        padding: 2px 0;
        min-width: 100px;
    }

    .newer-posts {
        left: 0;
    }

    .older-posts:active,
    .newer-posts:active {
        border: 2px dashed white;
    }
}