{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main id="mainCategorie">
        <section id="affichageListeArticle">
                <!-- AFFICHAGE DE 6 ARTICLES PAR PAGES VIA PAGINATOR-->
                {{ range (.Paginator 6).Pages }}
                <div>
                        <img class="imgArticleTrio" src="{{ with .Params.image }}{{ . }}{{ end }}" alt="">
                        <p class="pink"><time datetime="{{.Date}}">{{ .Date.Format "02/01/2006" }}</time>|
                                {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}{{ . }}{{ end }}</p>
                        <h2>{{ .Title }}</h2>
                        <a href="{{ .RelPermalink }}">Lire l'article</a>
                </div>
                {{end}}
        </section>
        <section id="sectionDeux">
                {{ partial "pagination.html" .Paginator }}
        </section>


</main>

{{ partial "footer.html" .}}