<header>
    <div id="logos">
        <a id=lienSimplonProdOrdi href="https://www.simplonprod.co" class="btn-cta" target="_blank">Site Simplon
            Prod</a>
        <a id="logoSimplonBlog" href="/index.html">
            <img id="imgLogoSimplonProd" src="/images/logo-prod.png" alt="logo simplon prod blog">
            <p>Le blog</p>
        </a>
        <div id="logosRsOrdi">
            <a href="https://www.facebook.com/Simplon.co" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="https://twitter.com/SimplonP" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/simplonprod/?originalSubdomain=fr" target="_blank"><i
                    class="fab fa-linkedin-in fa-2x"></i></a>
        </div>
        <div id="burger">
            <span id="spanHaut"></span>
            <span id="spanMilieu"></span>
            <span id="spanBas"></span>
        </div>
    </div>
    <nav class="navigation" id="menu">
        <!-- AFFICHAGE DES ARTICLES DE TYPE SECTIONS -->
        {{ range (where .Site.Pages "Type" "sections") }}
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
        {{ end }}
    </nav>
</header>
<nav id="menuMobile">
    {{ range (where .Site.Pages "Type" "sections") }}
    <a href="{{ .RelPermalink }}">{{.Title}}</a>
    {{ end }}
</nav>