<nav class="pagination" role="navigation">
    {{if .HasPrev}}
    <a class="newer-posts" href="{{ .Prev.URL }}">&larr; Articles récents</a>
    {{end}}
    <span class="page-number">Page {{ .PageNumber }} sur {{.TotalPages}}</span>
    {{if .HasNext}}
    <a class="older-posts" href="{{ .Next.URL }}">Anciens articles &rarr;</a>
    {{end}}
</nav>