{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>
  <section id=sectionUne>
    <div id="erreur">
        <h1>404 Not Found</h1>
        <p>Désolé, la page que vous recherchez n'existe pas.</p>
        <p>Veuillez retourner à la <a href="/">page d'accueil</a>.</p>
    </div>
    
  </section>
</main>

{{ partial "footer.html" .}}